@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
/* Above line is to import google font style */
.content{
width:960px;
margin:30px auto;


}
.main{
float:left;
width: 0px;


}

#progressbar{
margin-left:-70px;
padding:0;
font-size:18px;
}


.active{
color:blue;
}


fieldset{

width: 800px;
padding:40px;
margin-top:0px;
margin-left: 85px;
border-radius:5px;
border: 1px solid black;


}
#first{
display:block;
width: 800px;
padding:20px;
margin-top:20px;
border-radius:5px;
margin-left: 85px;



}
input[type=text],
input[type=password],
select{
width:50%;
margin:10px 0;
height:40px;
padding:5px;
border: 3px solid rgb(153, 204, 255);
border-radius: 4px;
}
textarea{
width:50%;
margin:10px 0;
height:70px;
padding:5px;
border: 3px solid rgb(153, 204, 255);
border-radius: 4px;
}
input[type=submit],
input[type=button],
input[type=reset]{
width: 120px;
margin:15px 25px;
padding: 5px;
height: 40px;
background-color: sienna;
border: none;
border-radius: 4px;
color: white;
font-family: 'Droid Serif', serif;
}
h2,p{
text-align:center;
font-family: 'Droid Serif', serif;
}
li{
margin-right:52px;
display:inline;
color:#c1c5cc;
font-family: 'Droid Serif', serif;
}

#infoText
{
	display:none;
	float:right;
	width:400px;
	height:400px;
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,.2);
	z-index:15;
	overflow:scroll;
}

#primSkilldiv
{
	float:left;
}
#singlechar
{
	width:20%;
}

#entirecourse
{
	display:block;
	
}

#courseDetailsEntire
{
	display:none;

}

#courseDetailsWithin
{
	display:none;

}


#secSkill
{
	
	clear:both;
  }

#close {
    
    
    padding:2px 5px;
    background:red;
}
.defText
{
	 font-size: 12px;
	 text-align: left;
}

#dimension
{
    text-decoration: underline;
    font-style: italic;
    color:blue;
}

.rightHelp
{ 

    height:200px;
	width:400px;
	
}
#formFields
{
	clear:left;

}

#dimensionDetails
{
  
  height: 350px;
  width: 500px;
  vertical-align: middle;
  margin-left:100px;
}

#dimensionImage
{
  height: 144px;
  width: 250px;
  float: left;
}
#dimensionInfo
{
    padding-top:50px;
	text-align:middle;
}
#primQuestion
{
	
	clear:both;
}

#roleSpecific
{
   display:none;
   border:solid black 1px;
}

.StudentRoleDiv
{
	margin-left:0px;
}