<!doctype html>
<html>
<head>
	<title>ISLE Authentication</title>
</head>
<body>
<strong>id</strong> : Hello <%= user._id%><br>
<strong>email</strong> : Email Sent to <%= user.local.email %>
<strong>Firstname</strong> : <%=user.local.fname %>
</body>
</html>
