<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h2><a href="#">Integrated Student Learning Experience (ISLE) Opportunity Catalog Entry</a></h2>
			
		</div>
	</div>
</div>
<div class="wrapper">
	
	<div class="container">
		
		<p>Welcome to the ISLE!  Every point of interaction with programs and people shapes the student learning experience—whether in classrooms, residence halls, labs, student organizations, coop, on-campus employment, service learning, athletic fields, library, advising, volunteer activities, cultural centers, living quarters, online, or elsewhere.  Essentially, <b><em> learning happens everywhere. </em></b> </p> 
		
	
		
		 <p> By contributing learning opportunities to the ISLE catalog, you will open doors for students to not only develop their skills and characteristics, but also to be more self-directed and intentional about their learning. Through their integrated learning experiences, students will be equipped to transition successfully from school to work or advanced graduate study. </p>
	
	 <p>To learn more, visit the ISLE web site (link).</p>
	
	<br />
	<br />
	

<p><b>What is an opportunity?</b></p>
<p>An opportunity describes a specific role in an activity, program, project, or event. Therefore, a separate entry must be created for each student role within your activity, program, project, or event. </p>

<p>To create an opportunity, complete the form below. You may SAVE your work and return to it later as needed. When you have completed the form, click the SUBMIT FOR APPROVAL or PUBLISH button. All published opportunities are visible to students in the ISLE opportunity catalog. You may manage your opportunities through the ISLE Opportunity Manager.</p>

<p>The information you enter will inform the system about when to display your opportunity in the catalog. This information will also be processed by the recommendation engine to serve up appropriate opportunities for students based on their current growth model as well as major, academic standing, co-op status, and more.</p>

<a href=/dashboard><button> Opportunity Dashboard </button></a>







	
</div>




</body>
</html>
