<!DOCTYPE html>
<html>
<head>
<title>ISLE Survey</title>
<meta content="noindex, nofollow" name="robots">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="style.css" rel="stylesheet" type="text/css">
<script src="multiform.js"></script>
</head>
<body>
<div class="content"><!-- Content Div -->
<!-- Multistep Form -->
<h2>ISLE Opportunity Builder</h2><br /><br />

<ul id="progressbar">
	
<a href="#"><li>The basics</li></a>
<a href="#"><li>Dimensions and Skills</li></a>
<a href="#"><li>Student Role</li></a>
<a href="#"><li class="active">Requirements and Logistics</li></a>

</ul>
</div> <!-- Content Div -->

<div class="main">

<!-- Progress Bar -->
<div id="formFields">



<form action="fff.html" class="regform" method="post">
<fieldset>
<h2 class="title">Requirements and Logistics</h2>
<p class="subtitle">Step 4</p>
<h4>Is there an application or registration due date?</h4>
<input type="radio" name="applicationDueDate" class="rad" value="No" > No <br />
<input type="radio" name="applicationDueDate" class="rad" id="dueDateYes" value="Yes" > Yes. 
Application due date: <input type="date" id="pickDate" name="Duedate" disabled> <br />
<input type="radio" name="applicationDueDate" class="rad" value="To be determined" > To be determined. <br /><br />


<h4>Will the student be paid?</h4>
<input type="radio" name="studentPaid" class="rad" value="No" > No <br />
<input type="radio" name="studentPaid" class="rad" value="Yes" > Yes. <br /><br /> 


<h4>URL to be linked for additional details?</h4>
<input type="radio" name="additionalDetails" class="rad" value="Not Applicable" > Not Applicable <br />
<input type="radio" name="additionalDetails" class="rad" id="dueDateYes" value="URL" > URL: 
<input type="text" id="url" name="additionalDetails" placeholder="Enter URL here" disabled> <br /><br />

<h4>Will student engagement in this opportunity have a specific start and end date? </h4>
<input type="radio" name="specificDuration" class="rad" value="No" > No <br />
<input type="radio" name="specificDuration" class="rad" value="Yes" > Yes. <br /><br /> 
<div id="opportunityDuration" hidden>
<h4>Organization Begin Date  (Leave blank if to be determined)</h4>
<input type="date" id="durationBeginDate"><br /><br />
<h4>Opportunity End Date (Leave blank if to be determined)</h4>
<input type="date" id="durationEndDate"><br /><br />
<h4>Will this opportunity recur?</h4>
<input type="radio" name="recurOpportunity" class="rad" value="No" > No <br />
<input type="radio" name="recurOpportunity" class="rad" value="Yes" > Yes. <br /><br /> 
</div>


<div id="recurQuestion" hidden>
<h4>When will the opportunity recur?</h4>
<input type="radio" name="recurTime" class="rad" value="Each Fall" > Each Fall <br />
<input type="radio" name="recurTime" class="rad" value="Each Spring" > Each Spring <br />
<input type="radio" name="recurTime" class="rad" value="Each Summer" > Each Summer <br />
<input type="radio" name="recurTime" class="rad" value="Each Year" > Each Year <br />
<input type="radio" name="recurTime" class="rad" value="Not sure" > Not sure <br />
</div>


<h4>Indicate the approximate amount of time a student should expect to spend engaging with the opportunity from beginning to end.</h4>

<h4>Location</h4>
<input type="radio" name="location" class="rad" value="Boston, MA Campus" > Boston, MA Campus<br />
<input type="radio" name="location" class="rad" value="Charlotte, NC Campus" > Charlotte, NC Campus <br />
<input type="radio" name="location" class="rad" value="Seattle, WA Campus" > Seattle, WA Campus <br />
<input type="radio" name="location" class="rad" value="Silicon Valley Campus" > Silicon Valley Campus <br />
<input type="radio" name="location" class="rad" value="Toronto Campus" > Toronto Campus <br />
<input type="radio" name="location" class="rad" value="Multiple" > Multiple <br />
<input type="radio" name="location" class="rad" value="Off-Campus" > Off-Campus (enter country, city, state) 
<input id="offcampusText" class="text_field" name="offCampusLocation" placeholder="Type here if Off-Campus selected for location" type="text" hidden Mandatory> <br />
<input type="radio" name="location" class="rad" value="TBD" > TBD <br /><br />

<h4>Available to students on co-op?</h4>
<input type="radio" name="availableCoopStudents" class="rad" value="No" >  No (opportunity involvement must be done during regular business hours and cannot be done remotely)	<br />
<input type="radio" name="availableCoopStudents" class="rad" value="Yes, local and non-local" >  Yes, local and non-local (opportunity involvement can be done outside of normal business hours and may be done remotely) <br />
<input type="radio" name="availableCoopStudents" class="rad" value="Yes, local only" > Yes, local only (opportunity involvement can take place outside of normal business hours, but cannot be done remotely) <br />
<input type="radio" name="availableCoopStudents" class="rad" value="To be determined" > To be determined <br /><br />

<h4>GPA Requirement</h4>
<input type="radio" name="gparequirement" class="rad" value="None">None<br />
<input type="radio" name="gparequirement" class="rad" value="Minimum GPA"> Minimum GPA (please specify): <br />
<input id="gparequirementNumber" name="gparequirementvalue" placeholder="Minimum GPA" type="number" hidden Mandatory> <br />

<h4>Academic Level Requirement (select all that apply)</h4>
<input type="checkbox" name="academiclevel" value="Any" > Any <br />
<input type="checkbox" name="academiclevel" value="First year" > First year <br />
<input type="checkbox" name="academiclevel" value="Second year" > Second year <br />
<input type="checkbox" name="academiclevel" value="Third year" > Third year <br />
<input type="checkbox" name="academiclevel" value=" Fourth year" >  Fourth year <br />
<input type="checkbox" name="academiclevel" value="Fifth year" > Fifth year <br />
<input type="checkbox" name="academiclevel" value="Last year or last semester" > Last year or last semester <br />
<input type="checkbox" name="academiclevel" value="other" > Other (please specify) <br />
<input id="otherTextAL" class="text_field" name="otheracademiclevel" placeholder="Type here if Other selected for Academic Level" type="text" disabled>
<br />

<h4>Academic Major Requirement</h4>
<input type="radio" name="academicmajor" class="rad" value="None" >None(open to any major)<br />
<input type= "radio" name = "academicmajor" class="rad" value="restrictedmajors" >Restricted to students in the following majors<br />
<input class="text_field" name="academicmajornames" placeholder="Major" type="text" disabled><br />
<input class="text_field" name="academicmajornames" placeholder="Major" type="text" disabled><br />
<input class="text_field" name="academicmajornames" placeholder="Major" type="text" disabled><br />
<input class="text_field" name="academicmajornames" placeholder="Major" type="text" disabled><br />


<h4>Residence Status Requirement</h4>
<input type="radio" name="residencestatus" class="rad" value="On-campus" > On-campus<br />
<input type="radio" name="residencestatus" class="rad" value="Off-campus" > Off-campus <br />
<input type="radio" name="residencestatus" class="rad" value="Either" >  Either <br />

<h4>Other Requirements</h4>
<input type="radio" name="otherrequirement" class="rad" value="None" >None<br />
<input type="radio" name="otherrequirement" class="rad" value="Other Requirements" > Other Requirements <br />
<input class="text_field" id="otherrequirementdetails" placeholder="Other Requirements" type="text" disabled><br />


<h4>Sponsoring College, Division, Department, or Office - Please spell out, avoid acronyms</h4>
<input class="text_field" name="sponseringcollege" placeholder="Sponsoring Division or College" type="text"><br />
<input class="text_field" name="sponseringdepartment" placeholder="Department/Program" type="text"><br />
<input class="text_field" name="sponseringunit" placeholder="Unit (if applicable)" type="text"><br />
<input class="text_field" name="Opportunitycreator " placeholder="Opportunity creator (First and last name, Northeastern email address)" type="text"><br />
<input class="text_field" name="Opportunityapprover" placeholder="Opportunity approver (first and last name, Northeastern email address)" type="text"><br />


<input class="pre_btn" type="button" value="Previous">
<input class="submit_btn" type="submit" value="Submit">

</div>	

<br />

</fieldset>
</form>

</div>


</div>

</body>
</html>