<!DOCTYPE html>
<html>
<head>
<title>ISLE Survey</title>
<meta content="noindex, nofollow" name="robots">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="style.css" rel="stylesheet" type="text/css">
<script src="multiform.js"></script>
</head>
<body>
<div class="content"><!-- Content Div -->
<!-- Multistep Form -->
<h2>ISLE Opportunity Builder</h2><br /><br />

<ul id="progressbar">
	
<a href="#"><li>The basics</li></a>
<a href="#"><li>Dimensions and Skills</li></a>
<a href="#"><li class="active">Student Role</li></a>
<a href="#"><li>Requirements and Logistics</li></a>

</ul>
</div> <!-- Content Div -->

<div class="main">

<!-- Progress Bar -->
<div id="formFields">



<form action="" class="regform" method="post">
<fieldset>
<h2 class="title">Student Role</h2>
<p class="subtitle">Step 3</p>
<h3> Type of the opportunity: </h3>
<br /> <br />

<div>
<input type="radio" name="opportunityType" class="rad" > Professional/professional development participation <br />
<input type="radio" name="opportunityType" class="rad"> Performance, exhibit, demonstration, or presentation delivery<br />
<input type="radio" name="opportunityType" class="rad"> Research project or service <br />
<input type="radio" name="opportunityType" class="rad"> Non-research project <br />
<input type="radio" name="opportunityType" class="rad"> Paraprofessional service <br />
<input type="radio" name="opportunityType" class="rad">Co-op, employment, or internship <br />
<input type="radio" name="opportunityType" class="rad"> Volunteer service <br />
<input type="radio" name="opportunityType" class="rad"> Club participation <br />
<input type="radio" name="opportunityType" class="rad"> Sports team<br />
<input type="radio" name="opportunityType" class="rad"> Recreational opportunity <br />

</div>
<br />



<br />
<input class="pre_btn" type="button" value="Previous">
<input class="next_btn" name="next" type="submit" value="Next">
</fieldset>
</form>

</div>


</div>

</body>
</html>